asteval==0.9.32
cachetools==5.3.3
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
fonttools==4.51.0
glcontext==2.5.0
kiwisolver==1.4.5
matplotlib==3.8.4
moderngl==5.10.0
multiprocess==0.70.16
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pnoise==0.2.0
pyparsing==3.1.2
pyphen==0.14.0
pyserial==3.5
pyside6==6.7.0
pyside6-addons==6.7.0
pyside6-essentials==6.7.0
python-dateutil==2.9.0.post0
scipy==1.13.0
shapely==2.0.4
shiboken6==6.7.0
six==1.16.0
svgelements==1.9.6
svgwrite==1.4.3
tomli==2.0.1
tqdm==4.66.4
vpype==1.14.0
vpype-gcode==0.13.0
